@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1>Welcome</h1>
    <p>This website will help you test LFA.</p>
    <p>Press "Control Chargers" in the toolbar to begin</p>
</div>
