html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

h1 {
    color: black;

}
*{
    font-family: Roboto,'Comic Sans MS';
}

body {
    margin-bottom: 60px;
}
